header {
	background: #0049b0;
	color: white;
	padding-left: 10px;
	margin-bottom: 10px;
}

.logo-wrapper,
nav {
	display: inline-block;
}

.menu-item {
	list-style: none;
	display: inline-block;
	margin: 10px;
}

.shape {
	width: 40px;
	height: 30px;
}

input[type='number'] {
	width: 60px;
	/* height: 10px; */
}

.export-wrapper {
	padding: 10px;
}
